* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Vesper Libre', serif;
}

header {
	height: 100vh;
	width: 100vw;
}

nav {
	width: 90%;
	margin: 10px auto;
	text-align: right;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	color: rgb(207, 19, 107);
	font-size: 20px;
	margin: 0px 10px;
	letter-spacing: 1px;
}

nav ul li a:hover {
	text-decoration: underline;
}

.strapline-container {
	width: 90%;
	height: 85%;
	border: 2px solid blue;
	margin: auto auto;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-image: url('./images/baked-donuts.jpg'); 
}

.main-strapline {
	color: rgb(207, 19, 107);
	font-size: 120px;
	text-transform: uppercase;
	margin: 50px 0px;
	font-family: 'Poppins', sans-serif;
}

.second-strapline {
	color: #FFFFDD;
	font-size: 25px;
	font-style: italic;
}

.section-title {
	text-align: center;
	text-transform: uppercase;
	color: rgb(207, 19, 107);
	margin-bottom: 25px;
	font-size: 240%;
	font-family: 'Poppins', sans-serif;
}

.about-section {
	width: 100vw;
	height: 90vh;
}